@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

API Result: @result

<button class="btn btn-primary" @onclick=click>Clicked @times</button>

@code {
    string result;
    int times;
    void click() => times++;
    protected override Task OnInitializedAsync() {
        var httpClient = new HttpClient();
        var response = await httpclient.GetAsync("/api/message?name=foobar")
    }
}